div.page-container {
  padding: 16px;
}

span.lighter-span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #566573;
}

span.darker-span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #566573;
}

div.user-info-wrapper {
  display: inline-block;
  padding-right: 32px;
}
