/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, ui-sans-serif, Segoe UI, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif 4", ui-serif, serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-size: 1.9732142857142858rem;
}
h2 {
  font-size: 1.3928571428571428rem;
}
h3 {
  font-size: 1.1607142857142858rem;
}
h4 {
  font-size: 0.9285714285714286rem;
}
h5 {
  font-size: 0.8125rem;
}
h6 {
  font-size: 0.8125rem;
}
